.app{
  margin-top: 50px;
  text-align: center;
}

.title{
  margin-bottom: 20px;
}

.image_wrapper {
  margin: 30px 50px;
}

/* .image_wrapper img{
  width: 60%;
}
   */
.imagee {
    height: 385px;
    width: 100%; 
}
  
.cadii {
    justify-content: center;
    align-items: center;
    padding: 2.5rem;
    cursor: pointer;
}

.slcc{
  border: 1px solid rgba(0, 0, 0, 0.137);
  padding: 1.5vh 1vh;
  margin-bottom: 4vh;
  outline: none;
  width: 100%;
}
.more{
  width: 100%;
  /* margin-left: 170px; */
  background-color: green;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 13px;
  cursor: pointer;
}

.more:hover{
  background-color: darkgreen;
}
.upd{
  width: 100%;
  /* margin-left: 170px; */
  background-color: blue;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 13px;
  cursor: pointer;
}

.upd:hover{
  background-color: darkblue;
}
.dell{
  width: 100%;
  /* margin-left: 170px; */
  background-color: red;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 13px;
  cursor: pointer;
}

.dell:hover{
  background-color: darkred;
}