.app{
  margin-top: 50px;
  text-align: center;
}

.title{
  margin-bottom: 20px;
}

.image_wrapper {
  margin: 30px 50px;
}

/* .image_wrapper img{
  width: 60%;
}
   */
.imagee {
    height: 385px;
    width: 100%; 
}
  
.cadii {
    justify-content: center;
    align-items: center;
    padding: 2.5rem;
    cursor: pointer;
}

.slcc{
  border: 1px solid rgba(0, 0, 0, 0.137);
  padding: 1.5vh 1vh;
  margin-bottom: 4vh;
  outline: none;
  width: 100%;
  background-color: rgb(224, 216, 216);
}
