#marquee {
    display: flex;
    align-items: center;
    white-space: nowrap;
    animation: marquee 20s linear infinite;
  }
  
  #marquee-content {
    display: flex;
  }
  
  @keyframes marquee {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-50%);
    }
  }
  